

body {
    line-height: 1;
    color: #000;
    background: #fff
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, table, td, th {
    vertical-align: middle
}

caption, td, th {
    text-align: left;
    font-weight: 400
}

a img {
    border: none
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

[hidden], audio:not([controls]) {
    display: none
}

body.noscroll, html.noscroll {
    overflow-y: hidden!important;
    height: 100%
}


body, html {
    font-family: Open Sans, sans-serif;
    color: #4c4c4c;
    font-size: 22px;
    line-height: 1.4em
}



a {
    color: #25abfd
}

a:active, a:hover {
    color: #028fe6
}

p {
    font-size: 20px;
    line-height: 1.4em
}

@media screen and (-webkit-min-device-pixel-ratio:1.8) and (-webkit-max-device-pixel-ratio:2.2) and (min-width:2000px), screen and (min-resolution:1.8dppx) and (max-resolution:2.2dppx) and (min-width:2000px) {
    p {
        font-size: 30px
    }
}

p.p--smaller {
    font-size: 18px;
    line-height: 1.5em
}

@media screen and (-webkit-min-device-pixel-ratio:1.8) and (-webkit-max-device-pixel-ratio:2.2) and (min-width:2000px), screen and (min-resolution:1.8dppx) and (max-resolution:2.2dppx) and (min-width:2000px) {
    p.p--smaller {
        font-size: 26px
    }
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased
}

*, body, html {
    box-sizing: border-box
}


@media screen and (-webkit-min-device-pixel-ratio:1.8) and (-webkit-max-device-pixel-ratio:2.2) and (min-width:2000px), screen and (min-resolution:1.8dppx) and (max-resolution:2.2dppx) and (min-width:2000px) {
    .ui-btn {
        padding: 20px 45px;
        font-size: 26px
    }
}

.ui-btn--outline {
    border: 1px solid #237bd2;
    background: transparent;
    color: #237bd2
}

.ui-btn--outline:active, .ui-btn--outline:hover {
    background: rgba(35, 123, 210, .3)
}

.ui-btn--large {
    padding: 20px 45px;
    font-size: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.12px;
    border-radius: 4px;
    cursor: pointer
}

@media screen and (-webkit-min-device-pixel-ratio:1.8) and (-webkit-max-device-pixel-ratio:2.2) and (min-width:2000px), screen and (min-resolution:1.8dppx) and (max-resolution:2.2dppx) and (min-width:2000px) {
    .ui-btn--large {
        padding: 30px 50px;
        font-size: 32px
    }
}

textarea {
    display: block;
    box-sizing:content-box;
    overflow: auto;
    height: 25rem;
    width: 25rem
}

.spaced {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-view {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-bottom: 1rem;
}

.label-value {
    font-weight: normal;
    padding-inline-start: 1rem;
}

.small-text {
    font-size: 1.25rem;
    text-align:center
}

.measurement-textbox {
    width: 30%;
    height: 100%
}

.padded-top {
    padding-top: 1rem;
}

.note-box {
    width: 70%;
    height: 15rem;
}

.half-height {
    height: 50%
}

.health-history {
    width: 75%;
    height: 100%;
}

.documents {
    width: 95%;
    height: 100%;
}

.modal_background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 50%
  }
  
  /* Modal */
  .modal_content {
    background-color: #fefefe;
    background-color: #fefefe;
    height: 60%;
    overflow-y: scroll;
    z-index: 0 !important;   
  }
  
  .modal_footer {
      background-color: white;
      text-align: center;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-top:1px solid #222222;
      background-color: #f8f8f8;
     
  }
  
  .modal_header{
    background-color: #006088;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #f8f8f8;
  }
  .modal_header_text{
  font-size:1.75rem;
  font-weight: 500;
  }
  
  .modal_btn{
    display: inline-block;
    border-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #f8f8f8;
    color: #999999;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 500;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
    width: 43%;
  }
  
  .bnt-accept{

  }
  .bnt-reject{
      color:red;

  }
  
  .btn-default {
    background-color:#1d8e99;
    color:#f8f8f8;
    font-size: 1.5rem;
    padding:0.25rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-top: 0.5rem;
    display: flex
  }
  
  /* The Close Button */
  .close {
    color: #e2eff3;
    float: right;
    font-size: 2.5rem;
    font-weight: 100;
     cursor: pointer;
  }

  .title {
    color: black;
    font-size: 1.0rem;
    line-height: 1.15em;
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: 700;
    margin-bottom: 0.25rem;
    text-align:center;
}
  .normal {
    color: black;
    font-size: 1.5rem;
    line-height: 1.15em;
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: 700;
    margin-bottom: 0.25rem;
    margin-top:0.25rem;
}
.data {
    color: black;
    font-size: 0.75rem;
    line-height: 1.15em;
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.datavalue {
    word-wrap: break-word;
}


::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #DDDDDD;
}
@media screen and (min-resolution: 1.0dppx) and (max-resolution: 1.2dppx){
    .container {
        max-width: 90%;
    }

}
@media screen and (min-resolution: 1.2dppx) and (max-resolution: 1.4dppx){
    .container {
        max-width: 90%;
    }

}
@media screen and (min-resolution: 1.4dppx) and (max-resolution: 1.8dppx){
    .container {
        max-width: 90%;
    }

}
@media screen and (min-resolution: 1.8dppx) and (max-resolution: 2.2dppx){
    .container {
        max-width: 90%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.8) and (-webkit-max-device-pixel-ratio:2.2) and (min-width:2000px), screen and (min-resolution:1.8dppx) and (max-resolution:2.2dppx) and (min-width:2000px) {
    body, html {
        font-size: 30px
    }
    .container {
    max-width: 90%;
    }
}